.rankings {
  margin: 80px 0 40px 0;

  &__subtitle {
    font-size: var(--fz-h5);
    font-weight: var(--fw-400);
    line-height: var(--lh-140);
    text-transform: none;
    margin-top: 20px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;

    &__top {
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      color: var(--color-gray);
      border: 1px solid var(--bg-gray);
      border-radius: 20px;
      padding: 12px 20px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      background-color: var(--bg-gray);
      border-radius: 20px;
      padding: 12px 20px;
      cursor: pointer;
    }
  }
}

.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;

  &-time {
    width: 100%;
    max-width: 262px;
    justify-self: center;
    align-self: center;
    border-bottom: 2px solid transparent;
    text-wrap: nowrap;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    color: var(--color-gray);
  }
}

.active {
  border-bottom: 2px solid var(--color-gray);
  transition: border-bottom .3s linear, color .3s linear;
  color: #fff;
}

.artist {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  column-gap: 20px;

  & span {
    text-align: center;
  }

  &__number {
    width: 30px;
    height: 30px;
    background-color: var(--bg-dark);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__avatar {
    height: 60px;
    width: 60px;
    background: var(--bg-dark);
    border-radius: 100%;
    overflow: hidden;

    & img {
      height: 60px;
    }
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  align-self: center;

  &__change {
    color: #00AC4F;
  }
}