.creator {
  display: grid;
  row-gap: 5px;

  &__author {
    display: flex;
    column-gap: 12px;

    &-avatar {
      width: 24px;
      height: 24px;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}