.hero {
  padding: 80px 0;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  &__intro {
    display: grid;
    row-gap: 20px;
  }

  &__description {
    font-family: var(--font-family-work);
    font-size: var(--fz-h5);
    font-style: normal;
    font-weight: var(--fw-400);
    line-height: var(--lh-160);
    text-transform: capitalize;
  }

  &__button {
    width: 100%;
    max-width: 224px;
    max-height: 60px;
    margin: 10px 0;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;

    &-text {
      font-family: var(--font-family-work);
      font-size: 23.99px;
      font-weight: var(--fw-400);
      line-height: var(--lh-160);
      text-transform: capitalize;
    }
  }
}

.highlighted {
  height: max-content;
  background-color: var(--bg-gray);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  &__img {
    width: 100%;
    max-width: 510px;

    & img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      max-height: 401px;
    }
  }

  &__wrapper {
    padding: 20px;
  }
}