.how-it-works {
  padding: 80px 0;

  & h5 {
    margin-top: 10px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 48px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    padding: 10px 30px 30px;
    background-color: var(--bg-gray);
    border-radius: 20px;

    &-img {
      width: 250px;
    }

    & p {
      text-transform: none;
    }
  }
}