.discover {
  padding: 80px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &-wrapper {
      display: grid;
      row-gap: 10px;
    }

    &-link {
      margin-top: auto;
    }
  }
}