.trending {
  padding: 80px 0;

  &__title {
    font-family: var(--font-family-work);
    font-size: var(--fz-h3);
    font-style: normal;
    font-weight: var(--fw-600);
    line-height: var(--lh-120);
    text-transform: capitalize;
  }

  &__subtitle {
    font-size: var(--fz-h5);
    font-weight: var(--fw-400);
    line-height: var(--lh-160);
    margin-top: 10px;
  }

  &__content {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 60px;
  }
}

.collection-card {
  display: grid;
  row-gap: 10px;

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
  }
}

.grid-1 {
  grid-column: 1 / 4;
  min-width: 330px;
  border-radius: 20px;
}

.grid-2 {
  min-width: 100px;
  min-height: 100px;
  border-radius: 20px;
}

.grid-3 {
  min-width: 100px;
  min-height: 100px;
  border-radius: 20px;
}

.grid-4 {
  min-width: 100px;
  min-height: 100px;
  border-radius: 20px;
  background-color: var(--color-purple);
  display: flex;
  justify-content: center;
  align-items: center;
}